.panel-proyecto{
    height: auto;
}
.cont{
    background-color: white;
}

.btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        color: rgb(112, 109, 109);
        background-color: green;
        border-color: white; /*set the color you want here*/
    }