.panel-proyecto{
    height: auto;
}
.cont{
    background-color: white;
}

.btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        color: #706d6d;
        background-color: green;
        border-color: rgb(252, 233, 233); /*set the color you want here*/
    }